fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
tensorflow
joblib
pydantic[email]
python-multipart
alembic
mysqlclient
pymysql
scikit-learn
